body{background:lightblue;direction: rtl; font-family:"Arial";}


 select {
     padding: 10px;
     font-size: 16px;
     border-radius: 5px;
     border: 1px solid #ccc;
     background-color: white;
     cursor: pointer;
 }
table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    display: none; /* מסתיר את הטבלה בהתחלה */
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}




button {
     background: forestgreen;
     border: none;
     padding: 8px 19px;
     font-size: 18px;
     font-weight: bold;
     color: white;
     border-radius: 8px;
     cursor: pointer;
     transition: all 0.3s ease;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
 }

button:hover {

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


