<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>תוכנת מעקב לחץ דם</title>
    <link rel="stylesheet" href="/CSS1/main.css">
</head>
<body>
<script src="/js/all_users.js"></script>
<h1>כמות החריגות בחודש - כלל משתמשים</h1>

<h3>אנא בחר חודש ושנה מסויימת</h3>
<label for="monthSelect"> חודש:</label>
<select id="monthSelect" onfocus="showMonths()">
    <option value="1">1</option></select>
&nbsp;
<label for="yearSelect"> שנה:</label>
<select id="yearSelect" onfocus="showYears()">
    <option value="1993">1993</option></select>

<br><br>
<button id="all_users_btn" onclick="ShowTableAllUsers()">הצג</button> <button onclick="MainPage()">לדף הראשי </button>
<table id="usersTable" style="display: none;">
    <thead id="mainHeader">
    <tr>
        <th>משתמש</th>
        <th>ממוצע ערך גבוה</th>
        <th>מספר חריגות ערך גבוה</th>
        <th>ממוצע ערך נמוך</th>
        <th>מספר חריגות ערך נמוך </th>
        <th>ממוצע דופק</th>
        <th>מספר חריגות דופק</th>
        <th>סה"כ חריגות</th>

    </tr>
    </thead>
    <tbody id="usersBody">
    </tbody>
</table>

</body>
</html>