<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>תוכנת מעקב לחץ דם</title>
    <link rel="stylesheet" href="/CSS1/main.css">
</head>
<body onload="GetUser()">
<script src="/js/history.js"></script>
<h1>היסטוריית ערכים</h1>
<h2 id="user_name"></h2>

<label>מ - </label>
<input type="date" id="first_date" >
<label>עד - </label>
<input type="date" id="last_date" >
<button onclick="ShowTableValues()">הצג</button>  <button onclick="MainPage()">לדף הראשי </button>
<br><br>

<table id="historyTable" style="display: none;">
    <thead id="mainHeader">
    <tr>
        <th>ערך גבוה</th>
        <th>ערך נמוך</th>
        <th>דופק</th>
        <th>תאריך</th>
    </tr>
    </thead>
    <tbody id="mainTableData">

    </tbody>
</table>

</body>
</html>