<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>תוכנת מעקב לחץ דם</title>
    <link rel="stylesheet" href="/CSS1/main.css">
</head>
<body onload="CreateUserSelector()">

<script src="/js/main.js"></script>

<h2>הזנת נתוני לחץ דם</h2>
<label for="userSelect">בחר משתמש:</label>
<select id="userSelect" name="options">
</select>
<button onclick="ShowTable()">הצג</button>
<br><br>
<label>ערך גבוה:</label>
<input type="number" id="high_val" placeholder="לדוג' 120">

<label>ערך נמוך:</label>
<input  type="number" id="low_val" placeholder="לדוג' 80">

<label>דופק:</label>
<input  type="number" id="pulse" placeholder="לדוג' 70">

<label>תאריך:</label>
<input  type="date" id="date">
<br><br>
<div class="button-container">
    <button onclick="AddValue()">הוסף</button>
    <button onclick="DeleteRow()">מחיקה</button>
    <button onclick="EditRow()">ערוך</button>
    <button onclick="HistoryPage()">היסטוריית משתמש</button>
    <button onclick="AllUsersPage()">כלל משתמשים</button>
</div>

<br>
<table id="userTable" style="display: none;">
    <thead id="mainHeader">
    <tr>
        <th><button id="checked" onclick="CheckAll()">סמן הכל</button>
            <button id="un_checked" onclick="UnCheckAll()">בטל הכל</button>
            <button id="send_btn" onclick="SendValesToInput()">שלח</button>
        </th>
        <th>ערך גבוה</th>
        <th>ערך נמוך</th>
        <th>דופק</th>
        <th>תאריך</th>

    </tr>
    </thead>
    <tbody id="mainTableData">
    </tbody>
</table>

</body>
</html>